ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background: rgb(238, 238, 238);
        padding: 1em;
        margin-right: 10px;
        width: 20%;
        height: 200px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        p {
            margin: 0;
            padding: 0.3em;
        }

        p.name {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .deleteIconWrapper {
            position: relative;
            bottom: 0;
            right: 0;
            margin-top: 120px;
            margin-left: 180px;
            cursor: pointer;
        }
    }
}

button {
    margin-top: 0px;
    margin-bottom: 40px;
}